/* ================768px============== */

@media screen and (min-width: 768px) {
.catalog-container {
    width: 768px;
}
}

/* ================1280px============== */

@media screen and (min-width: 1280px) {
    .catalog-container {
        width: 1280px;
    }
    .catalog-list {
        display: flex;
            gap: 90px 24px;
            flex-direction: row;
    }
    .catalog-item {
        width: calc((100% - 72px) / 4);
        width: 276px;
        height: 375px;
    }
    .catalog-desktop {
        display: contents;
    }
}