/* ================768px============== */

@media screen and (min-width: 768px) {
.catalog-container {
    width: 768px;
}
/* .catalog-item>img {
    padding: 43px 30px;
} */
.catalog-button {
    height: 50px;
    width: 122px;
    margin: 40px 646px 0;
    padding: 18px 35px;
}
.catalog-title {
    margin-left: 40px;
}
}

/* ================1280px============== */

@media screen and (min-width: 1280px) {
    .catalog-container {
        width: 1280px;
    }
    .catalog-list {
        display: flex;
            gap: 90px 24px;
            flex-direction: row;
    }
    .catalog-item {
        width: calc((100% - 72px) / 4);
        width: 276px;
        height: 375px;
    }
        .catalog-item>img {
            margin: auto;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        .catalog-paragraph {
            margin-top: 14px;
        }
    .catalog-desktop {
        display: contents;
    }

        .catalog-button {
            width: 122px;
            margin: 40px 1158px 0;
        }
}