p,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
}

img {
    display: block;
    height: auto;
    width: 275px;
}

.list {
    list-style: none;
}


.catalog-section {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 375px;
    margin: 0 auto;
    height: auto;
}

.catalog-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #1E2827;
    margin-bottom: 40px;
    margin-left: 20px;
}

.catalog-list {
    display: flex;
    gap: 40px;
    padding-left: 0;
    justify-content: center;
    flex-wrap: wrap;
}
.catalog-item >img {
    margin: auto;
    padding-top: 43px;
    padding-bottom: 43px;
}

.catalog-item {
    width: 335px;
    height: 410px;
    position: relative;
    overflow: hidden;
}
.catalog-item:hover .catalog-cover-text {
transform: translate(0);
background: #1E2827;
}
.catalog-cover-text {
    position: absolute;
    top: 0;
    border-radius: 8px;
    padding: 46px 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 200ms linear;
}
.catalog-item >.catalog-cover-text {
    height: 360px;
    width: 335px;
}
.catalog-cover-text > h3 {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: transparent;
}
.catalog-cover-text>h3:not(:first-child) {
    padding-top: 22px;
}
.catalog-item:hover .catalog-cover-text>h3 {
    transform: translate(0);
    color: #FFFFFF;
}
.catalog-cover-text > p {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.01em;
        color: transparent;
        padding-top: 10px;
}
.catalog-item:hover .catalog-cover-text>p {
    transform: translate(0);
    color: rgba(255, 255, 255, 0.5);
}
.catalog-cover {
    padding: 30px;
}

.catalog-paragraph {
    margin-top: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;
}

.catalog-price {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
}

.catalog-desktop {
    display: none;
}

.catalog-button {
    background: #1E2827;
    border-radius: 8px;
    height: 42px;
    width: 108px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 268px 0;
    cursor: pointer;
    border: none;
}
.catalog-button:hover {
    background-color: #1e2419;
}
.catalog-button:focus {
    background-color: #1e2419;
}
.catalog-section .catalog-button {
    position: relative;
    right: 0px;
}

/* #mdiv {
    height: 20px;
    background-color: transparent;
    border: none;
}

.mdiv {
    height: 20px;
    width: 1.5px;
    background-color: black;
    transform: rotate(45deg);
    Z-index: 1;
}

.md {
    height: 20px;
    width: 1.5px;
    background-color: black;
    transform: rotate(90deg);
    Z-index: 2;
} */

/* .backdrop-catalog {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 200ms linear, visibility 200ms linear; */
    /* background-color: rgba(23, 26, 36, 0.432); */

/* .backdrop-catalog.is-hidden .modal-catalog {
    transform: scaleX(0);
}
.modal-catalog {
    width: 335px;
    height: 1073px;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    
    transform: scale(1);
    transition: transform 200ms linear;
}
.modal-btn-catalog {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-catalog-jpg > img {
    top: 66px;
    position: relative;
    left: 9%;
}
.modal-title-catalog {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: #141414;
        text-align: center;
        position: relative;
        padding-top: 100px;
}
.catalog-price-modal {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.02em;
        color: rgba(20, 20, 20, 0.5);
        position: relative;
        left: 38px;
}
.modal-form-catalog {
    margin-top: 40px;
    padding-left: 20px;
        padding-right: 20px;
}
.modal-input-catalog {
    width: 100%;
    height: 42px;
    border: 1px solid rgba(20, 20, 20, 0.5);
    border-radius: 8px;
    padding-left: 16px;
}
.modal-input-catalog:placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
}
.modal-input-catalog:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
}

.modal-label-catalog {
    display: block;
        margin-bottom: 12px;
        margin-top: 18px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.02em;
        color: #141414;
}
.modal-label-catalog span {
    display: block;
    margin-bottom: 12px;
    margin-top: 18px;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.02em;
        color: #141414;
}
.modal-textarea-catalog {
    width: 100%;
    height: 170px;
    border: 1px solid rgba(20, 20, 20, 0.5);
    border-radius: 8px;
    outline: transparent;
    padding: 12px 16px;
    resize: none;
}
.modal-textarea-catalog:placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
}
.btn-submit-catalog {
    background: #1E2827;
    border-radius: 8px;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    font-weight: 400;
        line-height: 1.17;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
}
.paragraph-modal-catalog {
    margin-top: 12px;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: rgba(20, 20, 20, 0.4);
} */